In [4]:
# Q1.Write a code to reverse strings?
student_name="SANTOSH PATEL"
reverse_student_name= student_name[::-1]
print(reverse_student_name)

LETAP HSOTNAS

In [5]:
# Q2.Write 'code to count the number of vowels in' strings?
name="MUKESHBHAI PATEL"
count=0
for i in name:
  if i in 'AEIOU':
    count=count+1
print("NO. OF VOWELS IN NAME", count)

NO. OF VOWELS IN NAME 6

In [8]:
# Q5. Write 'code to find all occurrences of a given substring within another string.'
main_string = " His name is Arav Patel,Arav Patel is studying in 12th std"
sub_string = "Arav"
count=0
for i in main_string:
  if i in "ARAV":
    count=count+1
print(f"sub_string is occuring {count} times in main_string")

sub_string is occuring 2 times in main_string

In [2]:
# Q7.Write 'code to determine if a string has all unique characters.?
input_string = "abcdefg"
has_unique_characters = len(set(input_string)) == len(input_string)

if has_unique_characters:
    print("The string has all unique characters.")
else:
    print("The string does not have all unique characters.")

The string has all unique characters.

In [5]:
# Q8. Write 'code to convert a given string to uppercase or lowercase?
input_string = "Hello, World!"
uppercase_string = input_string.upper()
lowercase_string = input_string.lower()

print("Uppercase:", uppercase_string)
print("Lowercase:", lowercase_string)

Uppercase: HELLO, WORLD!
Lowercase: hello, world!

In [6]:
# Q9.Write 'code to count the number of words in a string.?
input_string = "This is a sample sentence with five words."
count=0
for i in input_string:
  if i!=" ":
   count=count+1
print("THE TOTAL NO. OF WORDS ARE:",count)

THE TOTAL NO. OF WORDS ARE: 35

In [7]:
# Q10. Write 'code to concatenate two strings without using the + operator.
string1 = "Hello, "
string2 = "world!"
result= f"{string1}{string2}"
print(result)

Hello, world!

In [8]:
# Q 11. Write 'code to remove all occurrences of a specified element from a list.'
numbers = [1, 2, 3, 4, 3, 5, 6, 3]
element_to_remove = 3
numbers = [num for num in numbers if num != element_to_remove]
print(numbers)

[1, 2, 4, 5, 6]

In [10]:
# Q 12.Implement 'code to find the second largest number in a given list of integers?
numbers = [10, 5, 20, 15, 30, 25]
numbers.sort()
second_largest = numbers[-2]
print("The second largest number is:", second_largest)

The second largest number is: 25

In [12]:
# Q13. Create 'code to count the occurrences of each element in a list and return a dictionary with elements as keys and their counts as values.?
names = ['SUNIL','PRAKASH','RAKESH','SURESH','SUNIL','SUNIL','RAKESH','PRAKASH']
dict={}
for i in names:
  if i in dict:
    dict[i]=dict[i]+1
  else:
    dict[i]=1
print(dict)

{'SUNIL': 3, 'PRAKASH': 2, 'RAKESH': 2, 'SURESH': 1}

In [3]:
# Q14. Write 'code to reverse a list in-place without using any built-in reverse functions.?
numbers = [1, 2, 3, 4, 5]
start = 0
end = len(numbers) - 1
while start < end:
    numbers[start], numbers[end] = numbers[end], numbers[start]
    start += 1
    end -= 1
print(numbers)

[5, 4, 3, 2, 1]

In [4]:
# Q15.Implement 'code to find and remove duplicates from a list while preserving the original order of elements.?
numbers = [1, 2, 3, 4, 3, 5, 6, 3]
unique_numbers = []
for num in numbers:
    if num not in unique_numbers:
        unique_numbers.append(num)
print(unique_numbers)

[1, 2, 3, 4, 5, 6]

In [11]:
# Q16. Create 'code to check if a given list is sorted (either in ascending or descending order) or not.?
input_list = [1,2,3,4,5]
if input_list == sorted(input_list) or input_list == sorted(input_list,reverse=True) :
    print("The list is sorted.")
else:
    print("The list is not sorted.")

The list is sorted.

In [12]:
# Q17.Write 'code to merge two sorted lists into a single sorted list?
list1 = [1, 3, 5, 7, 9]
list2 = [2, 4, 6, 8, 10]
merged_list = sorted(list1 + list2)
print(merged_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [13]:
# Q18.Implement 'code to find the intersection of two given lists?
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]
intersection = list(set(list1) & set(list2))
print(intersection)

[3, 4, 5]

In [15]:
# Q19.Create 'code to find the union of two lists without duplicates.?
list1= [1,2,2,3,4,5]
list2= [2,4,5,6,7]
union= list(set(list1) | set(list2))
print(union)

[1, 2, 3, 4, 5, 6, 7]

In [3]:
# Q21.Write 'code that takes two tuples as input and returns a new tuple containing elements that are common to both input tuples.?
tuple1 = (1, 2,2, 3, 4)
tuple2 = (3, 4, 5, 6)
tuple3=[]
for i in tuple1:
  if i in tuple2:
    tuple3.append(i)
print(tuple(tuple3))

(3, 4)

In [14]:
# Q22.Create 'code that prompts the user to enter two sets of integers separated by commas. Then, print the intersection of these two sets.?

set1_input = input("Enter the first set of integers (separated by commas): ")
set2_input = input("Enter the second set of integers (separated by commas): ")
set1 = set(set1_input.split(','))
set2 = set(set2_input.split(','))

intersection = set1 & set2

print("The intersection of the two sets is:", sorted(intersection))

Enter the first set of integers (separated by commas): 1,2,3,4,5
Enter the second set of integers (separated by commas): 2,3,4,5,6,7
The intersection of the two sets is: ['2', '3', '4', '5']

In [1]:
# Q23. Write code to concatenate two tuples. The function should take two tuples as input and return a new tuple containing elements from both input tuples?
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
concatenated_tuple = tuple1 + tuple2
print(concatenated_tuple)

(1, 2, 3, 4, 5, 6)

In [15]:
# Q24. Develop code that prompts the user to input two sets of strings. Then, print the elements that are present in the first set but not in the second set.

set1_input = input("Enter the first set of strings (separated by commas): ")
set2_input = input("Enter the second set of strings (separated by commas): ")
set1 = set(set1_input.split(','))
set2 = set(set2_input.split(','))

difference = set1 - set2

print("Elements in the first set but not in the second set:", sorted(difference))

Enter the first set of strings (separated by commas): arav, bhav, sam,sun
Enter the second set of strings (separated by commas): arav, alex,sam,meet
Elements in the first set but not in the second set: [' bhav', ' sam', 'sun']

In [1]:
# Q25. Create code that takes a tuple and two integers as input. The function should return a new tuple containing elements from the original tuple within the specified range of indices?
tuple1 = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
start_index = 2
end_index = 6
new_tuple = tuple1[start_index:end_index+1]
print(new_tuple)

(3, 4, 5, 6, 7)

In [4]:
# Q26. Write code that prompts the user to input two sets of characters. Then print the union of these two sets?

set1_input = input("Enter the first set of characters (separated by commas): ")
set2_input = input("Enter the second set of characters (separated by commas): ")

set1 = set(set1_input.split(','))
set2 = set(set2_input.split(','))

union = set1 | set2

print("The union of the two sets is:", sorted(union))

Enter the first set of characters (separated by commas): a,b,c
Enter the second set of characters (separated by commas): d,f,s
The union of the two sets is: ['a', 'b', 'c', 'd', 'f', 's']

In [2]:
# Q27. Develop code that takes a tuple of integers as input. The function should return the maximum and minimum values from the tuple using tuple unpacking?
tuple1 = (1, 2, 3, 4, 5)
max_value = max(tuple1)
min_value = min(tuple1)
print("Maximum value:", max_value)
print("Minimum value:", min_value)

Maximum value: 5
Minimum value: 1

In [5]:
# Q28. Create code that defines two sets of integers. Then, print the union, intersection, and difference of these two sets?

set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

union = set1 | set2
intersection = set1 & set2
difference = set1 - set2

# Print the results
print("Union:", union)
print("Intersection:", intersection)
print("Difference (set1 - set2):", difference)

Union: {1, 2, 3, 4, 5, 6, 7, 8}
Intersection: {4, 5}
Difference (set1 - set2): {1, 2, 3}

In [ ]:
# Q29. Write code that takes a tuple and an element as input. The function should return the count of occurrences of the given element in the tuple?
tuple1 = (1, 2, 3, 4, 2, 5, 6, 2)
element = 2
count = tuple1.count(element)
print(f"The element {element} appears {count} times in the tuple)

In [6]:
# Q30. Develop code that prompts the user to input two sets of strings. Then, print the symmetric difference of these two sets?
set1_input = input("Enter the first set of strings (separated by commas): ")
set2_input = input("Enter the second set of strings (separated by commas): ")
set1 = set(set1_input.split(','))
set2 = set(set2_input.split(','))

symmetric_difference = set1 ^ set2

print("The symmetric difference of the two sets is:", sorted(symmetric_difference))

Enter the first set of strings (separated by commas): a,b,c,d,e
Enter the second set of strings (separated by commas): a,b,f,g,d
The symmetric difference of the two sets is: ['c', 'e', 'f', 'g']

In [1]:
# Q31. Write code that takes a list of words as input and returns a dictionary where the keys are unique words and the values are the frequencies of those words in the input list?
words = input("ENTER THE WORDS SEPERATED BY COMMAS:")
list1= list(words.split(','))
dict={}
for i in list1:
  if i in dict:
    dict[i]=dict[i]+1
  else:
    dict[i]=1
print(dict)

ENTER THE WORDS SEPERATED BY COMMAS:a,b,c,a,d,e,f,a,b,s,d,e,f
{'a': 3, 'b': 2, 'c': 1, 'd': 2, 'e': 2, 'f': 2, 's': 1}

In [4]:
# Q32.Write code that takes two dictionaries as input and merges them into a single dictionary. If there are common keys, their values should be added together?

dict1 = {'a': 1, 'b': 2, 'c': 3}
dict2 = {'b': 4, 'd': 5, 'e': 6}

merged_dict = {}

for key, value in dict1.items():
    merged_dict[key] = value

for key, value in dict2.items():
    if key in merged_dict:
        merged_dict[key] += value
    else:
        merged_dict[key] = value

print("Merged dictionary:", merged_dict)

Merged dictionary: {'a': 1, 'b': 6, 'c': 3, 'd': 5, 'e': 6}